<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lunacia.dao.UserMapper">
    <select id="getUser" parameterType="String" resultType="com.lunacia.domain.User">
        SELECT * FROM n_users WHERE username=#{username};
    </select>
    <update id="updateUser" parameterType="com.lunacia.domain.User">
        UPDATE n_users SET password=#{password}, name=#{name}, gender=#{gender}, phone=#{phone}
        WHERE id=#{id};
    </update>
</mapper>